<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Generic Shop tests">
    <suite-files>
        <suite-file path="search-engine.xml"/>
        <suite-file path="links.xml"/>
        <suite-file path="footer.xml"/>
        <suite-file path="login.xml"/>
        <suite-file path="account-page-navigation.xml"/>
        <suite-file path="address-form.xml"/>
        <suite-file path="product-page.xml"/>
        <suite-file path="adding-product-to-the-shopping-cart.xml"/>
        <suite-file path="shopping-cart-functionalities.xml"/>
    </suite-files>
</suite>