<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Generic Shop tests">
    <suite-files>
        <suite-file path="header.xml"/>
        <suite-file path="searchEngine.xml"/>
        <suite-file path="mainmenu.xml"/>
        <suite-file path="sliderSection.xml"/>
        <suite-file path="thumbnail.xml"/>
        <suite-file path="newsletterForm.xml"/>
        <suite-file path="login.xml"/>
        <suite-file path="accountNavigation.xml"/>
        <suite-file path="billingAddressForm.xml"/>
        <suite-file path="productPage.xml"/>
        <suite-file path="shoppingCart.xml"/>
        <suite-file path="checkout.xml"/>
    </suite-files>
</suite>