<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Generic Shop tests">
    <suite-files>
        <suite-file path="header.xml"/>
        <suite-file path="homePageLinks.xml"/>
        <suite-file path="footer.xml"/>
        <suite-file path="account.xml"/>
        <suite-file path="product-page.xml"/>
        <suite-file path="shoppingCart.xml"/>
        <suite-file path="checkout-page.xml"/>
    </suite-files>
</suite>